    .container-fluid{
        background-color: aquamarine;
    }

    .color1{
        background-color: purple;
        color: yellow;
    }
    .color0{
        background-color: orange;
        color: blue;
    }


    .carrusel{
        width: 30%;
        margin-left: 35%;
        margin-right: 25%;
    }